In [13]:
import pandas as pinky

In [15]:
data2 = pinky.read_csv(r'C:\Users\MD SHAFI\Desktop\my dat2.csv')

In [16]:
data2

   roll no     name  batch
0     1001    pinky   1840
1     1002     john   1843
2     1003   deepak   1840
3     1004  anjuman   1765

In [20]:
data3 = pink‪y.read_csv(r'‪C:\Users\MD SHAFI\Desktop\my dat3 tsv.txt', sep='\t')

SyntaxError: invalid non-printable character U+202A (Temp/ipykernel_452/4240931034.py, line 1)